

@font-face {
    font-family: 'New York to Las Vegas';
    src: url('/fonts/NewYorktoLasVegas.woff2') format('woff2');
}


.jetage {
    font-family:        "New York to Las Vegas", "Andale Mono","Courier New";
    -webkit-font-smoothing: subpixel-antialiased;
}





*,
*::before,
*::after {
    box-sizing: border-box;
}


body {

    box-sizing:         border-box;

    margin:             10px;

    font-family:        "Andale Mono","Courier New";
    font-size:          10px;

    background-color:   #000;
    color:              #9090c0;


    -webkit-font-smoothing: subpixel-antialiased;

    height:              100%;
}

#outerView {

    position:           absolute;

    top:                0px;
    left:               0px;
    right:              0px;
    bottom:             0px;

    margin:             5px;

    /* this is the matching border everyone sees */
    border:             #444 solid 1px;

    overflow:           hidden;

    z-index:            10;
}

#wrapperView {

    position:           absolute;

    top:                5px;
    left:               5px;
    right:              5px;
    bottom:             5px;

    margin:             5px;

    z-index:            20;

    background-image:   linear-gradient(to right, #582CA322, #0000aa77);
}

#contentView {

    position:           absolute;

    top:                0px;
    left:               0px;
    right:              0px;
    bottom:             0px;


    z-index:            25;


}



.bot-terminal-row {

    display:                flex;
    flex-direction:         row;

}


form {
    text-align: center;
}

form input[type="submit"] {
    font-size: 16px;
    padding: 10px;
    border: none;
    color: #f2f2f2;
    cursor: pointer;
}

form input[type="text"] {
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    color:             #BABCEC;
    background-color: #2a2a2a;
    width: 70%;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.selected {
    background-color: #9090c0;
    color: #000;
}

#model-send {
    background-color: #0000aaaa;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#model-send[disabled] {
    background-color: grey;

}


::-webkit-scrollbar  {
    background:         transparent;
    box-shadow:         0 0 6px rgba(0,0,0,0.4);

    height:             20px;
    z-index:100;
}

::-webkit-scrollbar-thumb  {
    background:         rgba(255,255,255,.20);
}

::-webkit-scrollbar-corner {
    background:         transparent;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.4);

}
